    <!-- Student Name: Selene Chhangur 
      - Student ID: 300742304 
      - File Name: projects.ejs 
      - Date: June 9, 2023 
      - COMP 229 Web Application Development -->

<%- include ('partials/header.ejs') %> <%- include ('partials/main_nav.ejs') %>

<main class="container" style="margin: 0 auto; max-width: 900px">
  <div class="jumbotron">
    <h1 class="display-4"><%= title %> </h1>
  </div>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #ddd;
      padding: 8px;
      text-align: center;
    }
    th {
      background-color: #f2f2f2;
    }
    .center {
      text-align: center;
    }
  </style>
</head>
<body>
  <br>
  <h5>School Projects:</h5>
  <ul>
    <li>
      <a href="http://studentweb.cencol.ca/schhangu/" target="_blank"><i class="fa-solid fa-file" style="color: #b8b1b5"></i> First Semester Student Website</a>
    </li>
    <li>
      <a href="https://github.com/selenechhangur/Second_Term_Assignment_2" target="_blank"><i class="fa-solid fa-file" style="color: #b8b1b5"></i> Second Semester JS Slideshow Github Repo</a>
    </li>
    <li>
      <a href="https://github.com/selenechhangur/Second_Term_Assignment_3" target="_blank"><i class="fa-solid fa-file" style="color: #b8b1b5"></i> Second Semester JS Bug Game Github Repo</a>
    </li>
  </ul>
  <br>
  <h5>School Courses:</h5>
  <table>
    <tr>
      <th></th>
      <th>Day 1</th>
      <th>Day 2</th>
      <th>Day 3</th>
    </tr>
    <tr>
      <td class="center">8:30 AM - 11:20 AM</td>
      <td class="center">ENGL 253 - Advanced Business Communications</td>
      <td class="center">COMP 246 - Software Systems Design</td>
      <td class="center">COMP 229 - Web App Development</td>
    </tr>
    <tr>
      <td class="center">12:30 PM - 2:20 PM</td>
      <td class="center">COMP 246 - Software Systems Design</td>
      <td class="center">COMP 228 - Java Programming</td>
      <td class="center">COMP 214 - Advanced Database Concepts</td>
    </tr>
    <tr>
      <td class="center">2:30 PM - 4:20 PM</td>
      <td class="center">COMP 229 - Web App Development</td>
      <td class="center">COMP 214 - Advanced Database Concepts</td>
      <td class="center">COMP 228 - Java Programming</td>
    </tr>
  </table>
</body>
</main>

<!--bottom nav-->

<!--script section-->
<%- include ('partials/bottom_nav.ejs') %> <%- include ('partials/footer.ejs')
%>
